<h1>This is the search page</h1>

<form action="/result" method="GET">
    <input type="text" placeholder="type city" name="search">
    <a type="submit">Submit</a>
</form>

<a href="/">Go back to home</a>